{% extends 'inc/base.html' %}
{% load static %}

{% block content %}
    {% include 'inc/one_question.html' %}

    <div class="question-box border mb-3 row">
        <form class="m-3 w-100">
            <div class="form-group">
                <textarea class="form-control" id="textInput" rows="3" placeholder="Введите свой ответ сюда..."></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Ответить</button>
        </form>
    </div>

    {% for answer in answers %}
        {% include 'inc/one_answer.html' %}
    {% endfor %}
{% endblock content %}
